body{
    background-image: linear-gradient( 45deg, white,#FEFAE0);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: Roboto;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#000000,#262321);
    display: flex;
    justify-content: center;
    align-items: center;
}



.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-image: linear-gradient(45deg,#ddff00,#fff82b) ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #70350d;
}

.card-login > h1{
    color: #000000;
    font-weight: 800px;
    margin: 0;
    font: bold ;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
   
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-image:linear-gradient(45deg, #343231,#302c2c);
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 20px 40px #370f06;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 800px;
    
}

.textfield > label{
    color: #000000;
    margin-bottom: 10px;
    font-weight: 800px;
    
}

.textfield .btn-login > a{
    color: #000000;
}

.textfield > input::placeholder{
    color: #000000;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f7f9f7;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px#151516b7;
    background: #000000;
    
}

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;

    }
    .left-login{
        width: 100%;
        height: auto;

    }
    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vh;

    }
    .card-login{
        width: 90%;

    }
}